.container {
    display: flex;
    justify-content: center;
    width: 85%;
    background-color: rgb(250,250,250);
    border-radius: 15px;
}

.graph {
    padding: 15px;
}

@media (max-width: 770px) {
    .container {
        width: 100%
    }
}

